.trigger {
    background-color: #333333;
    border: none;
    font-size: 1.1rem;
    width: 340px;
    padding: 8px 16px;
}

/* .trigger--hidden {
    transition: 1s ease-in-out;
} */

.trigger--visible {
    transition: 1s ease-in-out;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height;
}

.trigger--butchery {
    border-top: 1px solid #ccc;
}

.content {
    background-color: #222;
    width: 345px;
    transition: all 0.3s ease-in-out;
    /* -webkit-transition: max-height 0.5s ease;
    transition: all 0.35s ease-in-out; */

}

.content--visible {
    -webkit-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease;
}

.styleLinkedContent {
    font-size: 1rem;

}