.trigger {
    background-color: #333333;
    border: none;
    font-size: 1.1rem;
    width: 340px;
    padding: 8px 16px;
}


.trigger--butchery {
    border-top: 1px solid #ccc;
}

.content {
    background-color: #222;
    width: 345px;
    transition: all 0.3s ease-in-out;
    /* -webkit-transition: max-height 0.5s ease;
    transition: all 0.35s ease-in-out; */

}

.content--visible {
    -webkit-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease;
}

.styleLinkedContent {
    font-size: 1rem;

}

/* DISCLOSURE HOME */


.trigger--disclosure-trigger,
.content--disclosure-content {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    max-width: 260px;
}

.trigger--disclosure-trigger {
    background-color: #F4F7F7;
}

.trigger--categories-trigger {
    margin-bottom: 0.5rem;
}

.content--especial-content,
.content--disclosure-content {
    display: flex;
    padding: 0 0.5rem;
    position: relative;
    overflow: hidden;
    transition: 0.25s ease-in-out;
}

.trigger--disclosure-trigger-intern {
    background-color: #fff;
    margin-bottom: 0;
}

