.wrapper {
    color: #fff;
    margin: 0;
    padding: 0 8px;
}

.paragraph {
    margin: 0;
    padding: 0 0rem;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

/* HEADER */

.paragraph--search {
    padding-left: 40px;
}

.paragraph--mobile-header-nav-itens {
    color: #1a5632;
    font-size: 14px;
    padding: 13px 0;
    text-align: center;
}

.image--search{
    width: 30px;
    height: 23px;
}

.container--mobile-header-nav-itens {
    padding-right: 30px;
}




/* SUGGESTION BANNER */

.container--home-suggestion {
    background-color: #1a5632;
    justify-content: center;
    padding: 5px 0;
    
}

.paragraph--home-suggestion {
    display: block;
    font-family: 'uchiyama';
    color: white;
    font-size: 0.9rem;
}

/* CAROUSEL PRODUCTS */

.container--products-price-carousel,
.container--product-text-carousel {
    margin-bottom: 1rem !important;
}


.paragraph--product-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 0.85rem;
    color: #32593B;
    text-overflow: ellipsis;
    line-height: 1rem;
    max-height: 3rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
    height: 24px;
    font-weight: 900;
}

/* .container--product-text {
    margin-bottom: 1rem !important;
} */

.wrapper--products-price {
    
    margin: 0 auto;
}

.paragraph--products-price {
    color: #BA476A ;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    line-height: 1.1;
    margin-top: 8px;
}


.paragraph--minus-signal,
.paragraph--adicionar,
.paragraph--plus-signal {
    color: #32593B;
    padding-top: 1px;
}

.paragraph--adicionar {
    font-size: 11px;
    padding-top: 6px;
    
}

.paragraph--minus-signal,
.paragraph--plus-signal {
    font-size: 20px;
    font-weight: 700;
}

.paragraph--plus-signal {
    padding-left: 30px;
}

/* SHELFS */

.paragraph--discount-percentage {
    width: 76px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    font-size: .9rem;
    color: white;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
    border-radius: 4px;
    background: rgba(213,50,48,0.9);
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 90% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 90% 50%, 75% 100%, 0% 100%);
}

.container--old-price-text {
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
}

.paragraph--old-price-text {
    color: #93A4AA;
    text-decoration: line-through;
    font-size: 1rem;
    font-weight: 600;
}


.paragraph--shelf-prices {
    margin-top: 4px;
}


.paragraph--add-items-shelf {
    font-size: 1rem;
    padding-top: 3px;   
}

/* FOOTER */

.paragraph--navigation-footer-text {
    padding: 0 8px !important;
}


.container--email {
    color: #fff;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.container--cnpj-mobile {
    display: flex;
    justify-content: center;
}

.paragraph--disclaimer,
.paragraph--cnpj {
    font-size: .65rem !important;
    color: #e6e6e6;
    margin: 0 0 16px 0;
    text-align: center;
}

.paragraph--cnpj-mobile {
    font-size: .65rem;
}

.container--cnpj{
    display: block;
}

.paragraph--menu-butchery,
.paragraph--category {
    font-weight: 300;
    color: #fff;
    font-size: 1.1rem;
}

@media screen and (max-width: 991px) {
    .paragraph--mobile-header-nav-itens {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 767px) {
    .paragraph--mobile-header-nav-itens {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 544px) {
    .paragraph--product-text,
    .container--product-text {
        display: block;
        margin: 0 auto;
        margin-bottom: 0;
    }
}