.link--minicar-link {
    width: 35px;
    height: 30px;
}

.link--email-link {
    text-decoration: none;
    margin: 0 auto 16px auto;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #FFF;
}

.childrenContainer--product-link {
    border: 1px solid rgba(0,0,0,0.125);
    margin: 5px;
}
