/* GREEN HEADER */

.flexRow--mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #32593B;
    color: #fff;
    height: 58px;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 100000;
    border-radius: 0;
}

.flexRowContent--mobile-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 10px;
}

.flexRow--logo-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

.flexRowContent--logo-search {
    display: flex;
    flex-direction: row;
}

.flexRow--logo-row {
    
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* HEADER NAVIGATION */

.flexRow--mobile-navigation {
    display: flex;
    flex-direction: row;
    background-color: #fffffe;
    height: 77px;
    position: sticky;
    z-index: 100000;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.flexRowContent--mobile-navigation {
    display: -webkit-box;
    margin-bottom: 0;
    align-items: center;
    margin: auto;
    margin-left: 0;
    padding: 15px 0px;
}

/* ------------------------------------------------------ */

/* HOME */

/* CAROUSEL, PRIMARY BANNER  AND PRODUCTS TEXT*/

.flexRow--carousel-images,
.flexRow--primary-banner,
.flexRow--products {
    padding: 5px 10px;
}


/* CAROUSEL BREADS */

.flexRow--carousel-breads {
    padding: 0px 10px;
}

.flexRowContent--carousel-breads {
    display: flex;
    flex-direction: row;
}

/* ------------------------------------------------------ */


/* FOOTER MOBILE*/

.flexRow--mobile-footer {
    background-color: #839041;
    color: #fff;
}

.flexRowContent--navigation-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0px 16px 0px;
}

