.container {
    color: #fff;
}

.imageElement--image-logo {
    width: 231px;
    height: 32px;
}

.imageElement--product-carousel {
    width: 100px;
    height: 100px;
    margin: 0 38px 8px 38px;
}