.link--minicar-link {
    width: 35px;
    height: 30px;
}



.link--email-link {
    display: block;
    margin-bottom: 0.5rem;
    /* justify-content: flex-start;
    align-items: center; */
}

.link {
    text-decoration: none;
    color: #FFF;
}

.childrenContainer--product-link {
    border: 1px solid rgba(0,0,0,0.125);
    margin: 5px;
    margin-bottom: 0;
    padding: 2px 0;
}

@media screen and (max-width: 1025px) {
    .link--email-link {
        display: flex;
    }
}