

.noAppearance {
    border-radius: 3px;
    border-color: #428851;
    background: none 0% 0% / auto repeat scroll padding-box padding-box rgb(66, 136, 81);
    color: #fff;
    padding: 8px 12px;
}