/* HEADER DESKTOP */

.flexRow--header-desktop {
    display: flex;
    justify-content: center;
    background-color: #32593B;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 100000;
    border-radius: 0;
    position: sticky;

}

.flexRow--header-desktop-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.flexRowContent--header-desktop-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.flexRow--search-desktop {
    max-width: 679px;
    padding-left: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.flexRow--login-desktop {
    padding: 25px 16px;
    height: 80px;
}

.flexRow--login-desktop:hover {
    background-color: #839041;
}



.flexRow--minicar-desktop {
    border: 1px solid transparent;
    display: flex;
    border-radius: 4px;
}

.flexRowContent--minicar-desktop {
    display: flex;
    align-items: center;
    height: 30px;
}


/* ------------------------------------------------ */
/* HEADER NAVIGATION  -----------------------------*/

.flexRow--header-navigation-desktop {
    display: flex;
    padding: 0;
    top: 70px;
    width: 100%;
    z-index: 100000;
    background-color: #F4F7F7;
    position: sticky;
    align-items: center;
}

.flexRowContent--header-navigation-desktop {
    display: flex;
    align-items: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* ------------------------------------------------------- */
/* HOME DESKTOP------------------------------------------- */

.flexRow--home-mobile,
.flexRow--home-no-disclosure {
    display: none;
}

.flexRow--home {
    margin: 0 auto 100px auto;
    min-height: calc(100vh - 266px);
    padding-top: 1rem;
    max-width: 1140px;
}

.flexRow--home-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
}


/* DISCLOSURE */

.flexCol--home-disclosure {
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-sizing: border-box;
    display: block;
    margin-bottom: 0.75rem;
    padding: 0.625rem;
    background-color: #fff;
    border-radius: 4px;
    min-height: 1px;
    height: fit-content !important;
}

.flexCol--acougue-column {
    padding-left: 0.5rem;
}


/* HOME CONTENT */

.flexCol--home-content {
    padding: 0 10px;
}


/* CAROUSEL IMAGE */

.flexRow--carousel-images-mobile {
    display: none;
}

.flexRowContent--carousel-images,
.flexRowContent--primary-banner,
.flexRowContent--home-product {
    margin-bottom: 0.5rem;
}


.flexRow--button-add-carousel {
    display: flex;
    height: 30px;
    align-items: center;
}

/* SUGGESTION TEXT */

.flexRow--home-suggestion-banner {
    background-color: #1a5632;
}

/* SHELFS */


.flexCol--shelf-three-items,
.flexRowContent--shelf-three-items,
.flexRow--shelf-two-items {
    display: none;
}


.flexRow--button-add {
    display: flex;
    justify-content: center;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 0 0 3px 3px;
    background-color: #E6F5E8;
    border: 1px solid #E6F5E8;
    border-top-color: rgba(0, 0, 0, 0.125);
    margin: 0 5px 8px 5px;
}

.flexRowContent--button-add {
    padding-left: 1rem;
}

.flexRow--button-add:hover {
    background-color: #cae7ce;
}

.flexRowContent--prices-area {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* ------------------------------------------------------- */
/* FOOTER DESKTOP ---------------------------------------- */

.flexRow--footer-desktop {
    background-color: #839041;
    padding: 8px 0;
}

.flexCol--footer-desktop-column {
    display: flex;
    width: 1120px;
    padding: 0 10px;
}


/* NAVIGATION FOOTER */

.flexRow--navigation-links-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flexRowContent--navigation-links-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

/* CARDS E EMAIL */

.flexRow--cards-email-footer-desktop {
    display: flex;
    justify-content: center;
}

.flexRowContent--cards-email-footer-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARDS */

.flexRowContent--cards-footer-desktop {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

/* EMAIL */

.flexRow--email-footer-desktop {
    padding: 0 8px;
}


/* DISCLAIMER E CNPJ */

.flexRowContent--disclaimer-cnpj {
    display: flex;
    justify-content: center;
}

.flexCol--disclaimer-cnpj-column {
    display: flex;
    align-items: center;
}